nav ul li a {
  font-weight: 900;
  color: #333 !important; }
nav ul li a:hover {
  color: #eb1a34 !important;
  transition: 0.5s !important; }

.front-sticky {
  margin-top: 10px;
  height: 70vh;
  background-size: cover;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19); }
  .front-sticky .sticky-body {
    margin-top: 45vh;
    padding: 10px; }
    .front-sticky .sticky-body span {
      font-weight: 300;
      color: white;
      padding-right: 10px; }
    .front-sticky .sticky-body h1 {
      font-size: 30px; }
      .front-sticky .sticky-body h1 a {
        color: white;
        font-weight: 900; }
      .front-sticky .sticky-body h1 a:hover {
        color: #eb1a34;
        text-decoration: none;
        transition: 0.5s; }
    .front-sticky .sticky-body p {
      margin-top: -20px;
      color: white;
      font-weight: 500; }

@media screen and (max-width: 992px) {
  .front-sticky {
    margin-top: 0px;
    height: 40vh;
    background-size: 100% 100%; }
    .front-sticky .sticky-body {
      margin-top: 20vh; }
      .front-sticky .sticky-body h1 {
        font-size: 20px;
        line-height: normal; }
        .front-sticky .sticky-body h1 a {
          color: white;
          font-weight: 700;
          background-color: rgba(235, 26, 52, 0.5);
          line-height: 27px; }
        .front-sticky .sticky-body h1 a:hover {
          color: #061ebc;
          text-decoration: none; }
      .front-sticky .sticky-body p {
        display: none; } }
#latest {
  margin-top: 20px; }
  #latest .latest-heading span {
    padding: 10px;
    background-color: #eb1a34;
    margin-bottom: 5px;
    color: white;
    font-weight: 700; }
  #latest h5 {
    font-size: .8em; }
  #latest .latests .card {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10px;
    padding: 10px;
    margin-right: 2px; }
    #latest .latests .card span {
      color: rgba(0, 0, 0, 0.6);
      font-size: .7em; }
    #latest .latests .card h3 {
      font-size: .8em; }
      #latest .latests .card h3 a {
        color: black;
        font-weight: 800; }

#campus-news {
  min-height: 20vh; }
  #campus-news .campus-news-heading span {
    padding: 10px;
    background-color: #eb1a34;
    margin-top: 50px;
    color: white;
    font-weight: 700; }
  #campus-news .card {
    padding: 0 !important;
    min-height: 80px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0; }
    #campus-news .card .card-img {
      height: 100%; }
      #campus-news .card .card-img img {
        width: 100%;
        height: 100%; }
    #campus-news .card .cardbody {
      padding-left: 5px; }
      #campus-news .card .cardbody h5 {
        font-size: .9em;
        padding-top: 10px; }
        #campus-news .card .cardbody h5 a {
          color: black;
          font-weight: 800; }
      #campus-news .card .cardbody span {
        color: rgba(0, 0, 0, 0.6);
        font-size: .7em; }

#front-one {
  min-height: 50vh; }
  #front-one .lifestyle .lifestyle-heading span {
    font-weight: 800;
    color: #eb1a34; }
  #front-one .lifestyle .card {
    padding: 0 !important;
    min-height: 80px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0; }
    #front-one .lifestyle .card .card-img {
      height: 100%; }
      #front-one .lifestyle .card .card-img img {
        width: 100%;
        height: 100%; }
    #front-one .lifestyle .card .cardbody {
      padding-left: 5px; }
      #front-one .lifestyle .card .cardbody h5 {
        font-size: .9em;
        padding-top: 10px; }
        #front-one .lifestyle .card .cardbody h5 a {
          color: black;
          font-weight: 700; }
      #front-one .lifestyle .card .cardbody span {
        color: rgba(0, 0, 0, 0.6);
        font-size: .7em; }
  #front-one .featured .featured-heading span {
    font-weight: 800;
    color: #eb1a34; }
  #front-one .featured .featured-post {
    height: 43vh;
    background-size: 100% 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19); }
    #front-one .featured .featured-post .featuredbody {
      margin-top: 30vh;
      color: white;
      padding: 10px; }
      #front-one .featured .featured-post .featuredbody h5 {
        font-size: 1.5em; }
        #front-one .featured .featured-post .featuredbody h5 a {
          color: white;
          font-weight: 900; }
        #front-one .featured .featured-post .featuredbody h5 a:hover {
          color: #eb1a34;
          text-decoration: none;
          transition: 0.5s; }
      #front-one .featured .featured-post .featuredbody span {
        background-color: rgba(235, 26, 52, 0.6);
        font-size: .7em;
        padding: 5px; }
  #front-one .personalities .perosnality-heading span {
    font-weight: 800;
    color: #eb1a34; }
  #front-one .personalities .card {
    padding: 0 !important;
    min-height: 80px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0; }
    #front-one .personalities .card .card-img-top img {
      width: 100%;
      height: 100%; }
    #front-one .personalities .card .cardbody {
      padding-left: 5px; }
      #front-one .personalities .card .cardbody h5 {
        font-size: .9em;
        padding-top: 10px; }
        #front-one .personalities .card .cardbody h5 a {
          color: black;
          font-weight: 700; }
      #front-one .personalities .card .cardbody span {
        color: rgba(0, 0, 0, 0.6);
        font-size: .7em; }

@media screen and (max-width: 992px) {
  .featured .featured-post {
    height: 30vh !important;
    background-size: 100% 100%; }
    .featured .featured-post .featuredbody {
      margin-top: 10vh !important;
      color: white;
      padding: 10px; } }
#front-two .tales {
  min-height: 30vh; }
  #front-two .tales .tales-heading span {
    font-weight: 800; }
  #front-two .tales .card {
    padding: 0 !important;
    min-height: 80px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0; }
    #front-two .tales .card .tales-img {
      height: 100%; }
      #front-two .tales .card .tales-img img {
        width: 100%;
        height: 100%; }
    #front-two .tales .card .cardbody {
      padding-left: 5px; }
      #front-two .tales .card .cardbody h5 {
        font-size: 1.3em;
        padding-top: 10px; }
        #front-two .tales .card .cardbody h5 a {
          color: black;
          font-weight: 700; }
      #front-two .tales .card .cardbody p {
        margin-top: -10px;
        font-size: .9em;
        padding-left: 0px; }
      #front-two .tales .card .cardbody span {
        color: rgba(0, 0, 0, 0.6);
        font-size: .7em; }
#front-two .intern {
  min-height: 30vh; }
  #front-two .intern .intern-heading span {
    font-weight: 800; }
  #front-two .intern .card {
    padding: 0 !important;
    min-height: 80px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0; }
    #front-two .intern .card .tales-img {
      height: 100%; }
      #front-two .intern .card .tales-img img {
        width: 100%;
        height: 100%; }
    #front-two .intern .card .cardbody {
      padding-left: 5px; }
      #front-two .intern .card .cardbody h5 {
        font-size: 1.3em;
        padding-top: 10px; }
        #front-two .intern .card .cardbody h5 a {
          color: black;
          font-weight: 700; }
      #front-two .intern .card .cardbody p {
        margin-top: -10px;
        font-size: .9em;
        padding-left: 0px; }
      #front-two .intern .card .cardbody span {
        color: rgba(0, 0, 0, 0.6);
        font-size: .7em; }

#front-three .editors .card {
  height: 55vh;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0; }
  #front-three .editors .card .card-editor-content {
    margin-top: 150px; }
    #front-three .editors .card .card-editor-content h4 {
      padding-left: 10px; }
      #front-three .editors .card .card-editor-content h4 a {
        color: #f7f7f7; }
    #front-three .editors .card .card-editor-content p {
      margin-top: -10px;
      padding-left: 10px;
      color: #f7f7f7;
      padding-right: 15px; }
    #front-three .editors .card .card-editor-content span {
      margin-left: 10px;
      background: rgba(235, 26, 52, 0.5);
      padding: 5px;
      color: #f7f7f7;
      font-size: 11px; }
#front-three .sex .sex-heading span {
  font-weight: 800;
  color: #eb1a34; }
#front-three .sex .card {
  padding: 0 !important;
  min-height: 80px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0; }
  #front-three .sex .card .card-img {
    height: 100%; }
    #front-three .sex .card .card-img img {
      width: 100%;
      height: 100%; }
  #front-three .sex .card .cardbody {
    padding-left: 5px; }
    #front-three .sex .card .cardbody h5 {
      font-size: .9em;
      padding-top: 10px; }
      #front-three .sex .card .cardbody h5 a {
        color: black;
        font-weight: 700; }
    #front-three .sex .card .cardbody span {
      color: rgba(0, 0, 0, 0.6);
      font-size: .7em; }
#front-three .entertainment .entertainment-heading span {
  font-weight: 800;
  color: #eb1a34; }
#front-three .entertainment .card {
  padding: 0 !important;
  min-height: 80px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0; }
  #front-three .entertainment .card .card-img {
    height: 100%; }
    #front-three .entertainment .card .card-img img {
      width: 100%;
      height: 100%; }
  #front-three .entertainment .card .cardbody {
    padding-left: 5px; }
    #front-three .entertainment .card .cardbody h5 {
      font-size: .9em;
      padding-top: 10px; }
      #front-three .entertainment .card .cardbody h5 a {
        color: black;
        font-weight: 700; }
    #front-three .entertainment .card .cardbody span {
      color: rgba(0, 0, 0, 0.6);
      font-size: .7em; }

@media screen and (max-width: 992px) {
  #front-three .editors .card {
    height: 40vh !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    #front-three .editors .card .card-editor-content {
      margin-top: 90px !important; }
      #front-three .editors .card .card-editor-content h4 {
        font-size: 20px !important; }
      #front-three .editors .card .card-editor-content p {
        display: none; }
      #front-three .editors .card .card-editor-content span {
        font-size: 10px;
        color: #f3eced;
        border-radius: 4px;
        font-weight: 500;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; } }
footer {
  margin-top: 10px;
  color: white;
  background: #333;
  min-height: 50px; }

/*# sourceMappingURL=style.css.map */
