#latest{
    margin-top: 20px;
    .latest-heading{
        span{
            padding: 10px;
            background-color: rgb(235, 26, 52);
            margin-bottom: 5px;
            color: rgb(255, 255, 255);
            font-weight: 700;
    
        }
    }
    h5{
        font-size: .8em;
    }

    .latests{
        .card{
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
            margin-top: 10px;
            padding: 10px;
            margin-right: 2px;

            span{
                color: rgba(0, 0, 0, 0.6);
                font-size: .7em;
            }

            h3{
                font-size: .8em;

                a{
                    color: rgb(0, 0, 0);
                    font-weight: 500;
                }
            }
        }
    }
}